h1 {
    color: skyblue;
    font-size: 50px;
    text-align: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-shadow: 0px 5px 0px grey;
    background-color: white;

}

h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 1);
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
}


p {
    font-size: 1.5em;

    color:skyblue;
    text-align: left;
    border-left-style: solid;
    border-left-color: coral;




}

h3 {
    
    font-size: 20px;
    color:skyblue;
    text-align: center;
    border-left-color: coral;
    background-color: white,;
}



ul li {
    color: green;
    border: 20px white;
    

}

html {
    color:yellow;


}

body {
    background: black url("") no-repeat fixed center;
    
}

a:link,
a:visited {
    background-color: black;
    color: black;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}

.center {
    line-height: 200px;
    height: 200px;
    border: 50px solid #7302ff;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

.center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    
}





#div1 {
    animation-timing-function: linear;
}

#div2 {
    animation-timing-function: ease;
}

#div3 {
    animation-timing-function: ease-in;
}

#div4 {
    animation-timing-function: ease-out;
}

#div5 {
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 300px;
    }
}


body {
    background-repeat: no-repeat;
    background-position-x: 50%;
}


h1 {
    border-block: 5px solid black;

}

h2 {
   
    background-color: black;
    inline-size: 70%;
    border-block-end-style: solid;
    border-block-end-width: 10px;
    text-align: center;
}

div {
    border-block: double;
}





  