h1 {
  color: skyblue;
  font-size: 50px;
  border-left: 5px solid skyblue;
  border-right: 5px solid skyblue;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 0px 5px 0px grey;


}

ul li {
  font-size: 1.5em;

  color: skyblue;
  text-align: left;

}

#container {
  width: 80%;
  aspect-ratio: 3/1;
  margin: auto;
  border: solid black 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-bottom: 20px;
}

.blue {
  background-color: lightblue;
  width: 95%;
  aspect-ratio: 3/1;
}

.green {
  background-color: lightgreen;
  width: 80%;
  aspect-ratio: 4/1;
}

.blue,
.green {
  margin: 2px;
  scroll-snap-align: end;
}

body {
  background: linear-gradient(skyblue, lightgreen);
}

ul {
  margin: 0;
  padding: 0;
  display: flex
}

ul li {
  list-style: none;
  margin: 0 20px;
}

ul li a {
  color: green;
  border: 20px white;
  text-transform: uppercase;
  transition: 0.5s;
  position: relative;
  display: block;



}

ul:hover li a {
  transform: scale(2);
  opacity: 67;
  filter: blur(7px);
}