
h1 {
  color:skyblue;
  font-size: 50px;
  border-left: 5px solid skyblue;
  border-right: 5px solid skyblue;
  text-align: center;
  background-color: black;
  background-repeat:no-repeat;
  background-attachment:fixed;
  text-shadow: 0px 5px 0px grey;


}
#container {
    width: 80%;
    aspect-ratio: 3/1;
    margin: auto;
    border: solid black 2px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-bottom: 20px;
  }
  
  .blue {
    background-color: lightblue;
    width: 95%;
    aspect-ratio: 3/1;
  }
  
  .green {
    background-color: lightgreen;
    width: 80%;
    aspect-ratio: 4/1;
  }
  
  .blue, .green {
    margin: 2px;
    scroll-snap-align: end;
  }
  body {
    background: linear-gradient(skyblue,lightgreen);
  }